<div class='right'>
    <div class="title">Contact Walid</div>
            <br>
            <br>
            <br>
    <table>
        <tr>
            <td style="width:50%">
                <%= image_tag "octocat.png", alt: "octocat", class: "oct" %><br><br>
                <h2><a href="https://github.com/Walid-Asmar">GitHub</a></h2><br><br>
            </td>

            <td style="width:50%">

                <%= image_tag "twitter.png", alt: "twitter", class: "oct" %><br><br>
                <h2><a href="https://twitter.com/Coding_Pa_Ti">@Coding_Pa_Ti</a></h2><br><br>
            </td>
        </tr>

        <tr>
            <td>
                <%= image_tag "linkedin.png", alt: "linkedin", class: "oct" %><br><br>
                <h2><a href="www.linkedin.com/in/walidasmar">LinkedIn</a></h2><br><br>
            </td>

            <td>
                <%= image_tag "gmail.png", alt: "gmail", class: "oct" %><br><br>
                <h2><a href="mailto:walid.e.asmar@gmail.com">Walid.E.Asmar@gmail.com</a></h2><br><br>
        </tr>
    </table>
</div>


<div class="left">
    <h3><%= link_to 'Home', '/home.html'%></h3>
    <h3><%= link_to 'Portfolio', 'https://github.com/Walid-Asmar'%></h3>
    <h3><%= link_to 'Resume', '/resume.html'%></h3>
</div>

