    <div class='right'> <a href="https://github.com/Walid-Asmar/portfolio">
        <h2>Please click here to view the source code for all of my projects on github.</h2></a>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Service U</h2>
        </div>
        <div class="panel-body">
            <%= image_tag "serviceu.png", alt: "Service U", class: "portfolio1" %>
        </div>
        <div class="panel-footer">
            <h4>Service U is an open source project that we hope will help better connect students on college campuses. Service U has 5 main components. They are forums, a buy/sell page with categories, a jobs page, an events page, and anonynous forums that will connect students with counselors. In total, we are a team of two front end developers and one backend developer. I am a cofounder and the backend developer for the project.</h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Twitter Clone</h2>
        </div>
        <div class="panel-body">
            <%= image_tag "twitterapp.png", alt: "Twitter Clone", class: "portfolio1" %>
        </div>
        <div class="panel-footer">
            <h4>We started this project in class and I decided to take it a step further. I added a search function to easily search through tweets, allowed users to tweet from different pages, and included a more robust navbar. </h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Movie Review App</h2>
        </div>
        <div class="panel-body">
            <%= image_tag "moviesrev.png", alt: "Movie Review App", class: "portfolio1" %>
        </div>
        <div class="panel-footer">
            <h4>I created users with devise and used searchkick to search through movies.</h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Top 5 Music App</h2>
        </div>
        <div class="panel-body">
            <%= image_tag "top5.png", alt: "Music App", class: "portfolio1" %>
        </div>
        <div class="panel-footer">
            <h4>This project is a music review app that includes artists and songs for individual users.</h4>
        </div>
      </div>

  </div>
</div>
    <div class="left">
            <h3><%= link_to 'Home', '/home.html'%></h3>
            <h3><%= link_to 'Resume', '/resume.html'%></h3>
            <h3><%= link_to 'Contact', '/contact.html'%></h3>
</div>
